.navbar {
  display: flex;
  justify-content: space-between;
  padding: 44px 96px;
  align-items: center;
}
.contact {
  display: flex;
}
.title-navbarItem {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  align-items: center;
}
.title {
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
}
.navbar-item {
  display: flex;
  gap: 48px;
}
.navbar-item a {
  text-decoration: none;
  color: black;
}
.navbar-icons {
  display: flex;
  gap: 48px;
  align-items: center;
}
.one-line {
  border-right: 1px solid black;
  height: 24px;
}
.three-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 6px;
}
.line {
  height: 2px;
  background-color: black;
  border-radius: 2px;
}

.line:nth-child(1) {
  width: 30px;
}

.line:nth-child(2) {
  width: 20px;
}

.line:nth-child(3) {
  width: 10px;
}

.background-container {
  background-color: #c1dcdc;
  width: 1248px;
  height: 512px;
  margin: 35px auto;
  border-radius: 24px;
}
.tagline {
  width: 512px;
  height: 136px;
  font-weight: bold;
  font-size: 64px;
  font-family: "Poppins", serif;
  padding: 48px;
  line-height: 1.2;
}
.plantSpecies {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  padding-right: 48px;
}
.counterLine {
  border-left: 1px solid black;
  height: 64px;
  padding-right: 48px;
}
.counter {
  display: flex;
  padding: 0 48px;
}
.s-content {
  font-size: 18px;
  margin-top: 7px;
}
.search {
  position: relative;
  display: flex;
  align-items: center;
  padding: 48px;
}

.search-input {
  width: 449px;
  height: 64px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  font-size: 18px;
  padding-right: 40px;
  padding-left: 10px;
  border: 1px solid #c1dcdc;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  border: 1px solid #c1dcdc;
  background-color: #c1dcdc;
  border-radius: 12px;
  padding: 9px;
  left: 450px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: black;
  pointer-events: none;
}
.plant-image-container {
  flex: 1;
  position: relative;
}
.circle {
  background-color: black;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  bottom: 0;
}
.spuare {
  background-color: black;
  display: flex;
  width: 200px;
  height: 212px;
  border-radius: 0 57px 0 57px;
}
.spuare img {
  bottom: 0px;
  right: -10px;
  position: absolute;
}
.circle-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.circle-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 55px;
  top: 212px;
}
.square-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 0;
  padding-right: 55px;
}

@media screen and (max-width: 1400px) {
  .background-container {
    width: 1100px;
  }
}
@media screen and (max-width: 1130px) {
  .background-container {
    width: 900px;
  }
}

@media screen and (max-width: 910px) {
  .contact {
    display: flex;
    flex-direction: column;
  }
  .responsive {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .background-container {
    height: 975px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .title-navbarItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .navbar-icons {
    display: flex;
    margin-top: 10px;
  }
}
@media screen and (max-width: 610px) {
  .background-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 435px;
    height: 770px;
  }
  .home-container {
    width: 100vh;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .responsive {
    display: flex;
  }

  .tagline {
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding: 10px 48px;
    height: 50px;
  }
  .plantSpecies {
    font-size: 16px;
  }
  .counterLine {
    height: 45px;
  }

  .search-input {
    width: 360px;
    height: 45px;
  }
  .search-icon {
    left: 368px;
    font-size: 15px;
  }
  .contact-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .circle-wrapper {
    margin-left: 85px;
  }
}
