.title-about {
  display: flex;
  flex-direction: column;
}
.big-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  font-family: "Libre Baskerville", serif;
}
.content-aboutTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #999;
  font-family: "Libre Baskerville", serif;
}
.aboutUs-content {
  display: grid;
  gap: 10px;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  margin: 48px 148px;
  justify-items: center;
  text-align: center;
}

.fontawesome {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c1dcdc;
  border-radius: 50%;
  background-color: #c1dcdc;
  border-width: 20px;
  width: 30px;
  height: 30px;
  margin: auto;
}
.about-group {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.big-title-aboutUs {
  font-size: 18px;
  font-weight: bold;
  font-family: "Libre Baskerville", serif;
}

.title-aboutUs {
  font-size: 18px;
  font-weight: normal;
  font-family: "Libre Baskerville", serif;
  color: #999;
  height: 70px;
}
@media screen and (max-width: 1150px) {
  .aboutUs-content {
    margin: 48px 100px;
  }
}
@media screen and (max-width: 960px) {
  .aboutUs-content {
    margin: 48px 50px;
  }
}
@media screen and (max-width: 780px) {
  .about-container {
    width: 100vh;
  }
  .aboutUs-content {
    margin: 48px 20px;
  }
}
